[submodule ".config/git-fuzzy"]
	path = .config/git-fuzzy
	url = https://github.com/bigH/git-fuzzy.git

[submodule ".config/git-lfs-download"]
	path = .config/git-lfs-download
	url = https://github.com/iboB/git-lfs-download.git

[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/noahlias/nvim.git
